.clock-side{
    text-align: center;
    margin: auto;
}

.timer{
    font-size: 20vh;
}

.low-time{
    color: rgb(200, 0, 0);
}

.btn {
    margin: 5px;
}

.round-name{
    font-size: 4vh;
    margin-top: 2vh;
}

.blinds{
    font-size: 16vh;
}

.next-blinds, .prev-blinds{
    font-size: 6vh;
    margin-top: 6vh;
}