.clock-side{
    text-align: center;
    margin: auto;
}

.timer{
    font-size: 10vw;
}

.low-time{
    color: red;
}

.btn {
    margin: 5px;
}

.round-name{
    font-size: 2vw;
}

.blinds{
    font-size: 8vw;
}

.next-blinds, .prev-blinds{
    font-size: 3vw;
}