* {
  background-color: #000000;
//   background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");

  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white;
}
.page {
  overflow: hidden;
}

.title {
  background-color: rgb(200, 0, 0);
  font-size: 4vw;
  text-align: center;
  margin: auto;
}

.structure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}
 